{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
خروج
{% endblock page_title %}


{% block content %}
<main class="main">
    {% trans "reset password" as header %}
    {% include "header.html" with header=header %}


    <div class="mail-success py-120">
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="mail-success-content">
                        <div class="mail-success-icon"><i class="fal fa-envelope-circle-check"></i></div>
                        <h3>  {% trans "reset password" %}</h3>
                        {{form|crispy}}
                        <p> {% trans "for resseting your current account password please click on the button bellow thanks for using our website" %}</p>
                        <button type="submit" class="theme-btn">{% trans "send reset passwrod email" %}  <i class="far fa-home"></i></button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>


    

</main>
{% endblock content %}
