{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
خروج
{% endblock page_title %}


{% block content %}
<main class="main">
    {% trans "password email sent " as header %}
    {% include "header.html" with header=header %}


    <div class="mail-success py-120">
        <div class="container">
            <form action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="mail-success-content">
                        <div class="mail-success-icon"><i class="fal fa-envelope-circle-check"></i></div>
                        <h3>  {% trans "email for changin password sent" %}</h3>
                        <p> {% trans "please check your email and your spam box for the email we have sent you to change your email with specific link" %}</p>
                        <button type="submit" class="theme-btn">{% trans "get back to login" %}  <i class="far fa-home"></i></button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>


    

</main>
{% endblock content %}
