{% extends "_base.html" %}

{% load store_filters %}
{% load humanize %}
{% load i18n %}
{% block page_title %}
      cart detail
{% endblock page_title %}


{% block content %}



<main class="main">

    {% trans "cart" as header %}

    {% include "header.html" with header=header%}


    <div class="shop-cart py-100">
        <div class="container">
            <div class="shop-cart-wrap">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-table">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>تصویر</th>
                                            <th>نام محصول</th>
                                            <th>قیمت</th>
                                            <th>مقدار</th>
                                            <th>مجموع فرعی</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart %}
                                        <tr>
                                            <td>
                                                <div class="shop-cart-img">
                                                    <a href="#"><img src="{{item.product_obj.images.all|first_image}}" alt></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="shop-cart-content">
                                                    <h5 class="shop-cart-name"><a href="#"> {{item.product_obj.title}}</a></h5>
                                                    <div class="shop-cart-info">
                                                        <p><span>{% trans "type:" %}</span>{{item.product_obj.category}}</p>
                                                        <p><span>{% trans "color:" %}</span>{{item.color.title}}</p>
                                                        <p><span>{% trans "size:" %}</span>{{item.size.title}}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="shop-cart-price">
                                                    <span>{{item.product_obj.price|intcomma:False|persian_number}} {% trans "$" %}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="shop-cart-qty" dir="ltr">
                                                    
                                                    <form action="{% url 'cart_add' item.product_obj.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="number" name="quantity" value="{{item.quantity}}" min="1" max="30">
                                                        <input type="hidden" name="size" value="{{item.size.id}}">
                                                        <input type="hidden" name="color" value="{{item.color.id}}">
                                                        {{item.product_update_quantity_form.inplace}}
                                                        <button type="submit">update</button>
                                                  </form>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="shop-cart-subtotal">
                                                    <span>{{item.total_price|intcomma:False|persian_number}} {% trans "$" %}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <form action="{% url 'cart_remove' item.product_obj.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="size" value="{{item.size.id}}">
                                                    <input type="hidden" name="color" value="{{item.color.id}}">
                                                   <button type="submit" class="shop-cart-remove"><i class="far fa-times"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                         {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="shop-cart-footer">
                            <div class="row">
                                <div class="col-md-7 col-lg-6">
                                    <div class="shop-cart-coupon">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="کد کوپن شما">
                                            <button class="theme-btn" type="submit">اعمال کوپن</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-lg-6">
                                    <div class="shop-cart-btn text-md-end">
                                        <form action="{% url 'cart_clear' %}" method="post">
                                            {% csrf_token %}
                                        <button type="submit" href="{% url 'cart_clear' %}" class="theme-btn">  {% trans "clear cart" %} <span
                                                class="fas fa-arrow-left"></span></button>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="shop-cart-summary">
                            <h5>  {% trans "cart summary" %}</h5>
                            <ul>
                                <li><strong>مجموع فرعی:</strong> <span>{{cart.get_total_price|intcomma:False}} {% trans "$" %}</span></li>
                                <li><strong>تخفیف:</strong> <span>0 {% trans "$" %}</span></li>
                                <li><strong>ارسال:</strong> <span> {% trans "50000"|intcomma:False %} {% trans "$" %}</span></li>
                                <li><strong>مالیات:</strong> <span>{% trans "1%"|intcomma:False %} {% trans "$" %}</span></li>
                                <li class="shop-cart-total"><strong>مجموع:</strong> <span>{{cart.get_total_price|intcomma:False}} {% trans "$" %}</span></li>
                            </ul>
                            <div class="text-end mt-40">
                                <a href="{% url 'order_create' %}" type="submit" class="theme-btn">   {% trans "order page" %}<i
                                        class="fas fa-arrow-left-long"></i></a>
                            </div>
                        </div>
                      </div>



                </div>
            </div>
        </div>
    </div>


    

</main>
{% endblock content %}
