{% extends "_base.html" %}
{% load store_filters %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block page_title %}
  {% trans "tounique" %}
{% endblock page_title %}

{% block header_search %}
<div class="header-middle-search">
    <form action="{% url 'category_search' %}" method="GET">
        <div class="search-content">
            <input type="text" class="form-control" name="search" placeholder="در اینجا جستجو کنید...">
            <button type="submit" class="search-btn"><i class="far fa-search"></i></button>
        </div>
    </form>
</div>
{% endblock header_search %}



{% block content %}



<main class="main">

    <div class="hero-section">
        <div class="container">
            <div class="hero-slider owl-carousel owl-theme" dir="ltr">
               {% for product in last_four_products %}
               <div class="hero-single">
                <div class="container">
                    <div class="row align-items-center" dir="rtl">
                        <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-3">
                            <div class="hero-content">
                                <h6 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">
                                    {{product.category}}</h6>
                                <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                      {% trans "newest" %} <br><span>{{product.title}}</span>
                                </h1>
                                <p data-animation="fadeInLeft" data-delay=".75s">
                                    {{product.description|safe|truncatechars:1}}
                                </p>
                                <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                    <a href="{{product.get_absolute_url}}" class="theme-btn">  {% trans "add to cart" %}<i class="fas fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="hero-right">
                                <div class="hero-img">
                                    <img src="{{product.images.all|first_image}}" alt data-animation="fadeInRight"
                                         data-delay=".25s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               {% endfor %}
                
            </div>
        </div>
    </div>

    <div class="small-banner pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="banner-item">
                        <img src="{% static 'assets/img/banner/mini-banner-1.jpg' %}" alt>
                        <div class="banner-content">
                            <p> ست ها </p>
                            <h3> مجموعه <br>ست&zwnj;های پیشنهادی </h3>
                            {% comment %} <a href="#"> اکنون خرید کنید</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="banner-item">
                        <img src="{% static 'assets/img/banner/mini-banner-2.jpg' %}" alt>
                        <div class="banner-content">
                            <p>مجموعه‌های  اکسسوری</p>
                            <h3> کالکشن  <br> ساعت ها</h3>
                            {% comment %} <a href="#">اکنون خرید کنید</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="banner-item">
                        <img src="{% static 'assets/img/banner/mini-banner-3.jpg' %}" alt>
                        <div class="banner-content">
                            <p>مجموعه‌های کفش</p>
                            <h3>انواع کفش  <br> تمامی  <span>محصولات</span> با کیفیت</h3>
                            {% comment %} <a href="#">اکنون خرید کنید</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    
    <div class="product-area py-100">
        <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <div class="site-heading-inline">
                        <h2 class="site-title"><img src="{% static 'assets/img/icon/new.svg' %}" alt>موارد زیر پوش</h2>
                        {% comment %} <a href="#">مشاهده بیشتر <i class="fas fa-arrow-left"></i></a> {% endcomment %}
                    </div>
                </div>

                {% for product in underwear_products %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item" dir="rtl">
                        <div class="product-img">
                            <span class="type new">{% trans "new" %}</span>
                            <a href="{{product.get_absolute_url}}"><img src="{{product.images.all|first_image}}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="{{product.get_absolute_url}}"> {{product.title}}</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>{{product.price|intcomma:False}} {% trans "$" %} </span>
                                </div>
                                {% comment %} <form action="{% url 'cart_add' product.id%}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1" >
                                    <input type="hidden" name="size" value="1" >
                                    <input type="hidden" name="color" value="1" > {% endcomment %}
                                    <a href="{{product.get_absolute_url}}" type="submit" class="product-cart-btn" data-bs-placement="right"
                                          data-tooltip="tooltip" title="{% trans "add to cart" %}">
                                      <i class="far fa-shopping-bag"></i>
                                    </a>
                                  {% comment %} </form> {% endcomment %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
           
            </div>
        </div>
    </div>











    <div class="product-area py-100">
        <div class="container">
            
            <div class="row">
                <div class="row">
                    <div class="col-12">
                        <div class="site-heading-inline">
                            <h2 class="site-title"><img src="{% static 'assets/img/icon/more.svg' %}" alt>تمامی محصولات </h2>
                            {% comment %} <a href="#">مشاهده بیشتر <i class="fas fa-arrow-left"></i></a> {% endcomment %}
                        </div>
                    </div>

                {% for product in products %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    {% for discount in product.discount.all %}
                    <div class="product-item" dir="rtl">
                        <div class="product-img">
                            <span class="type discount">{{discount.percent}}% {% trans "تخفیف" %}</span>
                            <a href="{{product.get_absolute_url}}"><img src="{{product.images.all|first_image}}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="{{product.get_absolute_url}}"> {{product.title}}</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <del>{{product.price|intcomma:False}} {% trans "$" %}</del>
                                    <br>
                                    <span>{{discount.calculate_discount|intcomma:False}} {% trans "$" %} </span>
                                    
                                </div>
                                {% comment %} <form action="{% url 'cart_add' product.id%}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1" >
                                    <input type="hidden" name="size" value="1" >
                                    <input type="hidden" name="color" value="1" > {% endcomment %}
                                    <a href="{{product.get_absolute_url}}" type="submit" class="product-cart-btn" data-bs-placement="right"
                                          data-tooltip="tooltip" title="{% trans "add to cart" %}">
                                      <i class="far fa-shopping-bag"></i>
                                    </a>
                                  {% comment %} </form> {% endcomment %}
                                
                            </div>
                        </div>
                    </div>
                    {%empty%}
                    <div class="product-item" dir="rtl">
                        <div class="product-img">
                            <span class="type new">{% trans "new" %}</span>
                            <a href="{{product.get_absolute_url}}"><img src="{{product.images.all|first_image}}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="{{product.get_absolute_url}}"> {{product.title}}</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>{{product.price|intcomma:False}} {% trans "$" %} </span>
                                    
                                </div>
                                {% comment %} <form action="{% url 'cart_add' product.id%}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1" >
                                    <input type="hidden" name="size" value="1" >
                                    <input type="hidden" name="color" value="1" > {% endcomment %}
                                    <a href="{{product.get_absolute_url}}" type="submit" class="product-cart-btn" data-bs-placement="right"
                                          data-tooltip="tooltip" title="{% trans "add to cart" %}">
                                      <i class="far fa-shopping-bag"></i>
                                    </a>
                                  {% comment %} </form> {% endcomment %}
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                
           
            </div>
        </div>
    </div>



    <div class="pagination-area mb-20">
        <div aria-label="نمونه پیمایش صفحه">
            <ul class="pagination">
                <li class="page-item">
                 
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                    </a>
                {% endif %}
                    
                <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>


</main>






{% endblock content %}
  



