{% extends "_base.html" %}
{% load i18n %}
{% load store_filters %}
{% load jalali_tags %}

{% load humanize %}

{% block page_title %}
   {% trans "product detail" %}
{% endblock page_title %}


{% block content %}
      <h1>{{product.title}}</h1>
      <h3>{{product.rate}}</h3>
      <h3>{{product.description|safe}}</h3>
      <h3>{{product.price|intcomma:False|persian_number}}</h3>
      <h1>add cart form</h1>
      <form action="{% url 'cart_add' product.id %}" method="post">
            {% csrf_token %}
            <input type="number" name="quantity" value="1" min="1" max="30">
            <button type="submit">Send</button>
      </form>


      <h1>comments {{product.comments.count}}</h1>
      <ul>
      {% for comment in product.comments.all %}
                  <li>  <h1>{{comment.author.username}}</h1>
                        <h3>{{comment.datetime_created|to_jalali:'%Y/%m/%d '|persian_number }}</h3>
                        <h3>{{comment.text}}</h3>
                        <h3>{{comment.rate}}</h3>
                  </li>
      {% endfor %}
      </ul>


      {% if user.is_authenticated %}
            <h1>comment form</h1>
            <form action="{% url 'comment_create' product.id %}" method="post">
                  {% csrf_token %}
                  {{comment_form.as_p}}
                  <button type="submit">Send</button>
            </form>
      {% else %}
      <p>please login to write comments</p>
      {% endif %}
{% endblock content %}


