{% extends "_base.html" %}
{% load i18n %}
{% load store_filters %}
{% load jalali_tags %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_title %}
   {% trans "product detail" %}
{% endblock page_title %}

{% block meta_tags %}
<meta name="product_id" content="{{product.id}}">
<meta name="product_name" content="{{product.title}}">
<meta name="product_price" content="{{product.price}}">


{% endblock meta_tags %}

{% block content %}

    <div class="site-breadcrumb">
        <div class="site-breadcrumb-bg" style=""></div>
        <div class="container">
            <div class="site-breadcrumb-wrap">
                <h4 class="breadcrumb-title">  {% trans "buy product" %} {{product.title}}</h4>
                
            </div>
        </div>
    </div>


    <div class="shop-single2 bg py-100">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-6 col-xxl-5">
                    <div class="shop-single-gallery" dir="ltr">
                        <div class="flexslider-thumbnails">
                            <ul class="slides">
                                {% for image in product.images.all %}
                                    <li data-thumb="{{image.image.url}}" rel="adjustX:10, adjustY:">
                                          <img src="{{image.image.url}}" alt="#">
                                    </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xxl-6">
                    <div class="shop-single-info">
                        <h4 class="shop-single-title"> {{product.title}}</h4>
                        <div class="shop-single-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="rating-count"> ({{product.comments.count}} {% trans "comments" %} )</span>
                        </div>
                        <div class="shop-single-price">
                            {% for discount in product.discount.all %}
                            <del>{{product.price|intcomma:False|persian_number}} {% trans "$" %} </del>
                            <span class="amount">{{discount.calculate_discount|intcomma:False|persian_number}} {% trans "$" %}</span>
                            <span class="discount-percentage">{{discount.percent}}% {% trans "تخفیف" %}</span>
                            {%empty%}
                            <span class="amount">{{product.price|intcomma:False|persian_number}} {% trans "$" %}</span>
                            {% endfor %}
                        </div>
                        <p class="mb-3" id="description_element">
                            {{product.description|truncatechars:20|safe}}
                        </p>
                        <div class="shop-single-cs">
                            <div class="row">
                                <div class="col-md-3 col-lg-4 col-xl-3">
                                    <div class="shop-single-size">
                                        <h6>مقدار</h6>
                                        <div class="">
                                          <form action="{% url 'cart_add' product.id %}" method="post">
                                                {% csrf_token %}
                                              <input type="number"  id="quantity_input" name="quantity" value="1" min="1" max="30">
                                              
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-3 col-lg-4 col-xl-3">
                                    <div class="shop-single-size">
                                        <select class="select" name="size" onchange="updateColorOptions(this.value)"  id="select_size">
                                            {% for size in sizes %}
                                                <option value="{{ size.id }}">{{ size.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="shop-single-color">
                                        <select class="" name="color" id="select_color">
                                            <option value="" selected disabled>{% trans "Select Color" %}</option>
                                            {% comment %} {% for color in colors %} {% endcomment %}
                                            {% comment %} <option value="{{color.id}}">{{color.title}}</option> {% endcomment %}
                                            {% comment %} {% endfor %} {% endcomment %}
                                        </select>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-single-sortinfo">
                            <ul>
                                <li> موجودی: <span id="availability_status">موجود</span></li>
                                <li>کد محصول: <span>{{product.code}}</span></li>
                                <li>دسته: <span>{{product.category}}</span></li>
                                <li>فروش توسط: <a href="#"> {{product.seller_name}}</a></li>

                            </ul>
                        </div>
                        <div class="shop-single-action">
                            <div class="row align-items-center">
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="shop-single-btn">
                                        
                                          <button type="submit" id="add_to_cart_btn" class="theme-btn"><span class="far fa-shopping-bag"></span> 
                                             {% trans "add to cart" %}    </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="shop-single-share">
                                        <span> {% trans "share:" %}</span>
                                        
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shop-single-details">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-tab1" data-bs-toggle="tab" data-bs-target="#tab1"
                                type="button" role="tab" aria-controls="tab1" aria-selected="true">{% trans "description" %}
                        </button>
                        
                        <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3" type="button"
                                role="tab" aria-controls="tab3" aria-selected="false"> {% trans "comments" %}
                            ({{product.comments.count}})
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                        <div class="shop-single-desc">
                            <p>
                                {{product.description|safe}}
                            </p>
                            
                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                        <div class="shop-single-review">
                            <div class="blog-comments mb-0">
                                <h5>{% trans "comments" %} ({{product.comments.count}})</h5>
                                
                                {% for comment in product.comments.all %}
                                <div class="blog-comments-wrapper">
                                    <div class="blog-comments-single mt-0">
                                        <img src="{% static 'assets/img/account/profile.png' %}" alt="thumb">
                                        <div class="blog-comments-content">
                                            <h5> {{comment.author.username}}</h5>
                                            <span><i class="far fa-clock"></i> {{comment.datetime_created|to_jalali:'%Y/%m/%d '|persian_number }}  </span>
                                            <p>{{comment.text}}</p>
                                            <div class="review-rating">
                                                {% if comment.rate == 5 %}
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                {% elif comment.rate == 4 %}
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                {% elif comment.rate == 3 %}
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                {% elif comment.rate == 2 %}
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                {% elif comment.rate == 1 %}
                                                <i class="fas fa-star"></i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                    
                                <div class="blog-comments-form">
                                    {% if user.is_authenticated %}
                                    <h4 class="mb-4"> {% trans "place your comment" %}</h4>
                                    <form action="{% url 'comment_create' product.id %}" method="post">
                                        {% if form.errors %}
                                                        {% for field in form %}

                                                            {% for error in field.errors %}
                                                                  <div class="alert alert-danger">{{field.label}}: {{ error }}</div>
                                                            {% endfor %}

                                                        {% endfor %}
                                                        {% endif %}
                                                        
                                        {% csrf_token %}
                                    {{comment_form|crispy}}

                                        <button type="submit" class="theme-btn"><span
                                            class="far fa-paper-plane"></span> {% trans "save comment" %}
                                    </button>
                                    </form>
                                    {% else %}
                                        <p>{% trans "please login to write comments" %}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    
{% block javascript %}

<script>
    var sizeAndColor = JSON.parse('{{ size_and_color_json|escapejs }}');

    function updateColorOptions(selectedSize) {
        var availability_status = document.getElementById("availability_status")
        var quantity_input = document.getElementById('quantity_input');
        var selectColor = document.getElementById('select_color');
        var addToCartBtn = document.getElementById('add_to_cart_btn');
        var description_element = document.getElementById("description_element");

        // Remove any previous "not available" message
        var previousMessage = description_element.querySelector(".not-available-message");
        if (previousMessage) {
            description_element.removeChild(previousMessage);
        }

        // Create a new "not available" message element
        var notAvailableMessage = document.createElement("p");
        notAvailableMessage.classList.add("not-available-message");
        notAvailableMessage.textContent = "این تعداد یا این رنگ با این سایز موجود نیست ";
        notAvailableMessage.style.color = "red";

        // Clear the current options
        selectColor.innerHTML = "";

        // Get the list of colors for the selected size
        var colors = sizeAndColor[selectedSize];

        // Create an option for each color if quantity is available
        var quantityAvailable = false;
        colors.forEach(function(color) {
            // Check if quantity is available
            if (color.quantity >= quantity_input.value) {
                var option = document.createElement('option');
                option.value = color.id; // Set the value to the color id
                option.text = color.title; // Set the text to the color title
                selectColor.appendChild(option);
                quantityAvailable = true;
            }
        });

        // Show or hide the add to cart button based on quantity availability
        if (quantityAvailable && quantity_input.value > 0) {
            availability_status.style.color = "green"
            availability_status.textContent = "موجود"
            addToCartBtn.style.display = 'block';
        } else {
            availability_status.style.color = "red";
            availability_status.textContent = "ناموجود";
            addToCartBtn.style.display = 'none';
            description_element.appendChild(notAvailableMessage);
        }
    }

    // Add event listeners to quantity input and select size
    window.addEventListener('DOMContentLoaded', function() {
        var quantity_input = document.getElementById('quantity_input');
        var select_size = document.getElementById('select_size');

        quantity_input.addEventListener('change', function() {
            updateColorOptions(select_size.value);
        });

        select_size.addEventListener('change', function() {
            updateColorOptions(this.value);
        });

        // Initially hide the "Add to Cart" button
        var addToCartBtn = document.getElementById('add_to_cart_btn');
        addToCartBtn.style.display = 'none';
    });
</script>









{% endblock javascript %}


{% endblock content %}
