{% extends "_base.html" %}

{% load i18n %}
{% load store_filters %}
{% load humanize %}
{% block page_title %}
  {% trans "order detail" %}
{% endblock page_title %}


{% block content %}

<main class="main">
{% trans "order" as header %}
{% include "header.html" with header=header %}


  <div class="shop-checkout py-100">
      <div class="container">
          <div class="shop-checkout-wrap">
              <div class="row">
                  <div class="col-lg-8">
                      <div class="shop-checkout-step">
                          <div class="accordion" id="shopCheckout">
                              <div class="accordion-item">
                                  <h2 class="accordion-header">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                              data-bs-target="#checkoutStep1" aria-expanded="true"
                                              aria-controls="checkoutStep1">
                                          ادرس صورتحساب شما
                                      </button>
                                  </h2>
                                  <div id="checkoutStep1" class="accordion-collapse collapse show"
                                       data-bs-parent="#shopCheckout">
                                      <div class="accordion-body">
                                          <div class="shop-checkout-form">
                                              <form action="" method="post">
                                                {% if form.errors %}
                                                        {% for field in form %}

                                                            {% for error in field.errors %}
                                                                  <div class="alert alert-danger">{{field.label}}: {{ error }}</div>
                                                            {% endfor %}

                                                        {% endfor %}
                                                  {% endif %}

                                                {% csrf_token %}
                                                  <div class="row">
                                                      <div class="col-lg-6">
                                                          <div class="form-group">
                                                              <label>نام</label>
                                                              <input type="text" class="form-control" name="first_name"
                                                                     placeholder="نام">
                                                          </div>
                                                      </div>
                                                      <div class="col-lg-6">
                                                          <div class="form-group">
                                                              <label>نام خانوادگی</label>
                                                              <input type="text" class="form-control"
                                                                     placeholder="نام خانوادگی" name="last_name" >
                                                          </div>
                                                      </div>
                                                      
                                                      <div class="col-lg-6">
                                                          <div class="form-group">
                                                              <label>تلفن</label>
                                                              <input type="text" class="form-control"
                                                                     placeholder="شماره تلفن" name="phone_number" >
                                                          </div>
                                                      </div>
                                                      
                                                      
                                                      
                                                          
                                                      <div class="col-lg-6">
                                                          <div class="form-group">
                                                              <label>کد پستی</label>
                                                              <input type="text" class="form-control"
                                                                     placeholder=" کد پستی" name="post_id" >
                                                          </div>
                                                      </div>


                                                      <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>  نشانی</label>
                                                            <textarea cols="30" rows="4" class="form-control"
                                                                      placeholder="نشانی شما" name="address" ></textarea>
                                                        </div>
                                                    </div>
                                                      
                                                      <div class="col-lg-12">
                                                          <div class="form-group">
                                                              <label>پیام شما برای سفارش</label>
                                                              <textarea cols="30" rows="4" class="form-control"
                                                                        placeholder="پیام شما" name="note" ></textarea>
                                                          </div>
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <a href="{% url 'cart_detail'%}" type="submit" class="theme-btn theme-btn2"><span
                                                                  class="fas fa-arrow-right"></span> {% trans "back to cart" %}</a>
                                                          
                                                      </div>
                                                  </div>
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              
                          </div>
                      </div>
                  </div>

                          <div class="col-lg-4">
                            <div class="shop-cart-summary">
                                <h5>  {% trans "cart summary" %}</h5>
                                <ul>
                                    <li><strong> {% trans "item total" %}</strong> <span>{{cart.get_total_price|intcomma:False}} {% trans "$" %}</span></li>
                                    <li><strong>{% trans "discount" %}</strong> <span>0 {% trans "$" %}</span></li>
                                    <li><strong>{% trans "send price" %}</strong> <span> {% trans "50000"|intcomma:False %} {% trans "$" %}</span></li>
                                    <li><strong>{% trans "tax" %}</strong> <span>{% trans "not tax"|intcomma:False %} </span></li>
                                    <li class="shop-cart-total"><strong>{% trans "order total" %}</strong> <span>{{cart.get_total_price_with_tax|intcomma:False}} {% trans "$" %}</span></li>
                                </ul>
                                <div class="text-end mt-40">
                                    <button type="submit" class="theme-btn">   {% trans "place order" %}<i
                                            class="fas fa-arrow-left-long"></i></button>
                                </div>
                            </div>
                          </div>
                        </form>
              </div>
          </div>
      </div>
  </div>

</main>


{% endblock content %}








  <h1>order</h1>
  <ul>
    {% for item in cart %}
        <li><h3>{{item.product_obj.title}}</h3></li>
        <li><h3>{{item.quantity}}</h3></li>
        <li><h3>price: {{item.product_obj.price}}</h3></li>
        <li><h3>total price :{{item.total_price}}</h3></li>
        
    {% endfor %}

    <h1>order total price : {{cart.get_total_price}}</h1>
  </ul>