{% extends "_base.html" %}

{% load static %}
{% load i18n %}
{% load store_filters %}
{% load pages_filters %}

{% block page_title %}
  {% trans "weblog detail" %}
{% endblock page_title %}



{% block content %}
{% trans "weblog detail" as header %}
{% include "header.html" with header=header %}


<div class="blog-single-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xxl-9 mx-auto">
                <div class="blog-single-wrapper">
                    <div class="blog-single-content">
                        <div class="blog-thumb-img">
                            <img src="{{blog.images.all|first_image}}" alt="thumb">
                        </div>
                        <div class="blog-info">
                            <div class="blog-meta">
                                <div class="blog-meta-left">
                                    <ul>
                                        <li><i class="far fa-user"></i><a href="#">{{blog.author}}</a></li>
                                        <li><i class="far fa-comments"></i>3.2هزار نظر</li>
                                        <li><i class="far fa-thumbs-up"></i>1.4هزار لایک</li>
                                    </ul>
                                </div>
                                <div class="blog-meta-right">
                                    <a href="#" class="share-btn"><i class="far fa-share-alt"></i> {% trans "share" %}</a>
                                </div>
                            </div>
                            {%with paragraphs=blog.text|multiple_paragraph%}
                            <div class="blog-details">
                              <h3 class="blog-details-title mb-20">
                                {{blog.title}}
                                  </h3>
                              <p class="mb-10">
                                  {{paragraphs.0}}
                              </p>
                              <p class="mb-10">
                                  {{paragraphs.1}}
                            </p>
                              
                              {% if blog.quote %}
                              <blockquote class="blockqoute">
                                {{blog.quote}}
                                <h6 class="blockqoute-author">{{blog.quote_author}}</h6>
                                <i class="far fa-quote-right"></i>
                            </blockquote>
                              {% endif %}
                              <p class="mb-20">
                                  {{paragraphs.2}}
                              </p>
                              <div class="row">
                                  <div class="col-md-6 mb-20">
                                      <img src="{{blog.images.all|get_image:1}}" alt>
                                  </div>
                                  <div class="col-md-6 mb-20">
                                      <img src="{{blog.images.all|get_image:2}}" alt>
                                  </div>
                              </div>
                              <p class="mb-20">
                                  {{paragraphs.3}}
                              </p>
                              <hr>
                              <div class="blog-details-tags pb-20">
                                  <h5> برچسب‌ها: </h5>
                                  <ul>
                                      <li><a href="#">وبلاگ</a></li>
                                      <li><a href="#">آنلاین</a></li>
                                      <li><a href="#">لباس</a></li>
                                  </ul>
                              </div>
                          </div>
                            {% endwith %}
                            <div class="blog-author">
                                <div class="blog-author-img">
                                    <img src="{% static 'assets/img/account/images.png' %}" alt>
                                </div>
                                <div class="author-info">
                                    <h6>{% trans "written by" %}</h6>
                                    <h3 class="author-name">  {{blog.author}}</h3>
                                    <p> {{blog.author_bio}}</p>
                                    <div class="author-social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="blog-comments mb-0">
                            <h3>نظرات (20)</h3>
                            <div class="blog-comments-wrapper">
                                <div class="blog-comments-single">
                                    <img src="assets/img/blog/com-1.jpg" alt="thumb">
                                    <div class="blog-comments-content">
                                        <h5>جسی سینکلر</h5>
                                        <span><i class="far fa-clock"></i> 31 خرداد 1402</span>
                                        <p>تنوع‌های زیادی از قسمت‌ها وجود دارد که اکثریت در برخی از آنها دچار مشکل شده‌اند
                                            طنز تزریق شده یا کلمات تصادفی که حتی طولانی به نظر نمی رسند
                                            این واقعیت ثابت شده است که یک خواننده کمی قابل باور است.</p>
                                        <a href="#"><i class="far fa-reply"></i> پاسخ</a>
                                    </div>
                                </div>
                                <div class="blog-comments-single blog-comments-reply">
                                    <img src="assets/img/blog/com-2.jpg" alt="thumb">
                                    <div class="blog-comments-content">
                                        <h5>دانیل ولمن</h5>
                                        <span><i class="far fa-clock"></i> 31 خرداد 1402</span>
                                        <p>تنوع‌های زیادی از قسمت‌ها وجود دارد که اکثریت در برخی از آنها دچار مشکل شده‌اند
                                            طنز تزریق شده یا کلمات تصادفی که حتی طولانی به نظر نمی رسند
                                            این واقعیت ثابت شده است که یک خواننده کمی قابل باور است.</p>
                                        <a href="#"><i class="far fa-reply"></i> پاسخ</a>
                                    </div>
                                </div>
                                <div class="blog-comments-single">
                                    <img src="assets/img/blog/com-3.jpg" alt="thumb">
                                    <div class="blog-comments-content">
                                        <h5>کنت ایوانز</h5>
                                        <span><i class="far fa-clock"></i> 31 خرداد 1402</span>
                                        <p>تنوع‌های زیادی از قسمت‌ها وجود دارد که اکثریت در برخی از آنها دچار مشکل شده‌اند
                                            طنز تزریق شده یا کلمات تصادفی که حتی طولانی به نظر نمی رسند
                                            این واقعیت ثابت شده است که یک خواننده کمی قابل باور است.</p>
                                        <a href="#"><i class="far fa-reply"></i> پاسخ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-comments-form">
                                <h3>نظر بدهید</h3>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="نام شما*">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="ایمیل شما*">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                 <textarea class="form-control" rows="5"
                                                           placeholder="نظر شما*"></textarea>
                                            </div>
                                            <button type="submit" class="theme-btn">نظر ارسال کنید <i
                                                    class="far fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% include "newsletter.html" %}
{% endblock content %}