{% extends "_base.html" %}

{% load i18n %}
{% load static %}

{% block page_title %}
      {% trans "user profile" %}
{% endblock page_title %}



{% block content %}
{% trans "my profile" as header %}
{% include "header.html" with header=header %}


<div class="user-area bg py-100">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="sidebar">
                  <div class="sidebar-top">
                      <div class="sidebar-profile-img">
                          <img src="{% static 'assets/img/account/images.png' %}" alt>
                          <button type="button" class="profile-img-btn"><i class="far fa-camera"></i></button>
                          {% comment %} <input type="file" class="profile-img-file"> {% endcomment %}
                      </div>
                      <h5> {{request.user.get_full_name}}</h5>
                      {% comment %} <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="0c6d62786362654c69746d617c6069226f6361">ad@info.com</a></p> {% endcomment %}
                  </div>
                  <ul class="sidebar-list">
                      {% include "user_dashboard_sidebar.html" %}
                  </ul>
              </div>
          </div>
          <div class="col-lg-9">
              <div class="user-wrapper">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="user-card">
                              <h4 class="user-card-title"> {% trans "profile info" %}</h4>
                              <div class="user-form">
                                  <form action="" method="POST">
                                    {% if form.errors %}
                                                        {% for field in form %}

                                                            {% for error in field.errors %}
                                                                  <div class="alert alert-danger">{{field.label}}: {{ error }}</div>
                                                            {% endfor %}

                                                        {% endfor %}
                                                  {% endif %}
                                    {% csrf_token %}
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>{% trans "first name" %}</label>
                                                  <input name="first_name" type="text" class="form-control" value="{{request.user.first_name}}"
                                                         placeholder="{% trans 'first_name' %}">
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label> {% trans "last name" %}</label>
                                                  <input type="text" name="last_name" class="form-control" value="{{request.user.last_name}}"
                                                         placeholder="{% trans 'last_name' %}">
                                              </div>
                                          </div>
                                           <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>{% trans "email" %}</label>
                                                  <input name="email" type="text" class="form-control"
                                                         value="{{request.user.email}}" placeholder="{% trans 'email' %}">
                                              </div>
                                          </div> 
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>{% trans "username" %}</label>
                                                  <input name="username" type="text" class="form-control" value="{{request.user.username}}"
                                                         placeholder="{% trans 'username' %}">
                                              </div>
                                          </div>
                                          <div class="col-md-12">
                                              {% comment %} <div class="form-group">
                                                  <label>آدرس</label>
                                                  <input type="text" class="form-control" value="نیویورک، ایالات متحده آمریکا"
                                                         placeholder="آدرس">
                                              </div> {% endcomment %}
                                          </div>
                                      </div>
                                      <button type="submit" class="theme-btn"><span class="far fa-user"></span>
                                           {% trans "save changes" %}
                                      </button>
                                  </form>
                              </div>
                          </div>
                      </div>
                      {% comment %} <div class="col-lg-12">
                          <div class="user-card">
                              <h4 class="user-card-title">تغییر رمز عبور</h4>
                              <div class="col-lg-12">
                                  <div class="user-form">
                                      <form action="{% url 'account_change_password' %}" method="POST">
                                        {% csrf_token %}
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="form-group">
                                                      <label>گذرواژه قدیمی</label>
                                                      <input type="password" class="form-control"
                                                             placeholder="گذرواژه قدیمی">
                                                  </div>
                                              </div>
                                              <div class="col-md-12">
                                                  <div class="form-group">
                                                      <label>گذرواژه جدید</label>
                                                      <input type="password" class="form-control"
                                                             placeholder="گذرواژه جدید">
                                                  </div>
                                              </div>
                                              <div class="col-md-12">
                                                  <div class="form-group">
                                                      <label>تایپ مجدد رمز عبور</label>
                                                      <input type="password" class="form-control"
                                                             placeholder="تایپ مجدد رمز عبور">
                                                  </div>
                                              </div>
                                          </div>
                                          <button type="submit" class="theme-btn"><span class="far fa-key"></span>
                                              رمز عبور را تغییر دهید
                                          </button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div> {% endcomment %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}

