{% extends "_base.html" %}
{% load i18n %}


{% block page_title %}
404
{% endblock page_title %}


{% block content %}
<main class="main">
  {% trans "404" as header %}
  {% include "header.html" with header=header %}


  <div class="error-area py-100">
      <div class="container">
          <div class="col-md-6 mx-auto">
              <div class="error-wrapper">
                  <div class="error-img">
                      <img src="{% static 'assets/img/error/01.png' %}" alt>
                  </div>
                  <h2>اوپس... صفحه یافت نشد!</h2>
                  <p>صفحه‌ای که به دنبال یافت نشد ممکن است وجود نداشته باشد یا حذف شده باشد.</p>
                  <a href="index.html" class="theme-btn">برگشت به خانه <i class="far fa-home"></i></a>
              </div>
          </div>
      </div>
  </div>



</main>
{% endblock content %}